@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
    --font1: Verdana, Geneva, Tahoma, sans-serif;
    --font2: 'Passion One', cursive ;
    --font3: 'Sriracha', cursive ;
}

* {
    /*Configuração Geral para resetar todos os elementos*/
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}

html, body {
    font-family: var(--font1);
    min-height: 100vh;
    background-color: darkgray;

}

header {
    font-family: var(--font2);
    background-color: black;
    color: white;
    text-align: center;  
}

header > h1 {
    font-size: 10vw;
    padding-top: 50px;
    /*text-transform: uppercase;*/ /*Transforma todas as letras maísculas*/
    font-variant: small-caps; /*Todas maísculas e as primeiras ficam maiores*/
}

header > p {
    padding-bottom: 50px;
}

header a, footer a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

a:hover {
    text-decoration: underline;  
}

section {
    font-family: var(--font3);
    font-size: 3.5vw;
    padding-top: 3.5vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
}

section > p {
    padding-bottom: 1em;
}

section.normal {
    background-color: white;
    color: black;
}

section.imagem {
    background-color: rgb(51, 51, 51);
    color: white;
    box-shadow: inset 6px 6px 13px 0px black;
    background-size: cover;
    background-attachment: fixed;

}

section.imagem > P {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.514);
    padding: 5px;
    text-shadow: 1px 1px 0px black;/* 1px espalhamento lateral - 1px espalhamento verticcal - 1px espalhamento - black cor */
}

section#img01 {
    background-image: url(../imagens/background001.jpg);
    background-position: right center;

}

section#img02 {
    background-image: url(../imagens/background002.jpg);  
    background-position: right center; 
}

footer {
    background-color: black;
}

footer > p {
    font-family: var(--font3);
    font-size: 1em;
    text-align: center;
    color: white;
}